<!-- 
  <body id="page-top">

  Navigation 
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <img class="logo" src="https://www.investinreims.com/sites/default/files/news/logo_orange_pastille.png" alt="logo">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Your Favorite Source of Free Bootstrap Themes</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

  </body>
 --> 
<!-- debut de acceuil -->

<div class="containeracceuil">
  <header class="navbar" id="changecolor">
    <span class="navitemlogo">
      <img  src="https://www.investinreims.com/sites/default/files/news/logo_orange_pastille.png" class="logo">
    </span>
    <span id="textcolor1" class="navitem" (click)="scrolltoacceuil()">ACCUEIL</span>
    <span id="textcolor2" class="navitem" (click)="scrolltopres()">PRÉSENTATION</span>
    <span id="textcolor3" class="navitem" (click)="scrolltoequipes()">ÉQUIPES</span>
    <span id="textcolor4" class="navitem" (click)="scrolltotours()">TOURS</span>
  </header>
  