<!-- debut de acceuil -->

<div class="container acceuil" id="page-top">
  <nav class="navbar navbar-expand-lg" id="changecolor">
    <span class="navitemlogo navbar-brand">
      <a  [routerLink]="['/']">
        <img src="https://www.investinreims.com/sites/default/files/news/logo_orange_pastille.png" class="logo">
      </a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars iconcolor"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="dropdownColor">
        <a class="nav-link" id="textcolor1"  [routerLink]="['/']">ACCUEIL</a>
      </span>
      <span>
        <li class="nav-item navcampus dropdown drop-cursor-t">
          <a class="nav-link drop-cursor-t dropdownColor" [routerLink]="['/']" id="textcolor2" data-toggle="dropdown">
            NOS CAMPUS
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item overGreen" *ngFor="let city of cities" href="{{ city.link }}" target="_blank">{{ city.name }}</a>
          </div>
        </li>
      </span>
      <span class="dropdownColor">
        <a class="nav-link" id="textcolor3" [routerLink]="['/list-students']">NOS DEVELOPPEURS</a>
      </span>
      <span class="dropdownColor">
        <a class="nav-link" id="textcolor4" [routerLink]="['/projet']">NOS PROJETS</a>
      </span>
      <span>
        <li class="nav-item dropdown drop-cursor-t">
          <a class="nav-link drop-cursor-t dropdownColor" href="#" id="textcolor5" data-toggle="dropdown">
            ENTREPRISES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item overGreen" href="https://wildcodeschool.fr/recruter-un-developpeur/">Recruter un developpeur</a>
            <a class="dropdown-item overGreen" href="https://wildcodeschool.fr/developper-un-projet/">Developper un projet</a>
            <a class="dropdown-item overGreen" href="https://wildcodeschool.fr/plan-de-formation-2-0/">Plan de formation 2.0</a>
          </div>
        </li>
      </span>
      <span class="dropdownColor" *ngIf="isconnect == true">
        <a class="nav-link" id="textcolor6" [routerLink]="['/profil']">MON PROFIL</a>
      </span>
      <span class="dropdownColor" *ngIf="isconnect == true">
        <a class="nav-link" id="textcolor7" (click)="logout()">SE DÉCONNECTER</a>
      </span>
      <span class="dropdownColor" *ngIf="isconnect == false">
        <a class="nav-link" id="textcolor8" href='/api/oauth'>SE CONNECTER</a>
      </span>
    </div>
  </nav>
</div>