/* .bg-primary {
  background-color: #f05f40 !important;
}
.bg-dark {
  background-color: #212529 !important;
}
.text-faded {
  color: #ffffffb3;
}
section {
  padding: 8rem 0;
}
.section-heading {
  margin-top: 0;
}
::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}
img::selection {
  color: #fff;
  background: 0 0;
}
img::-moz-selection {
  color: #fff;
  background: 0 0;
}
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #f05f40;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #f05f40 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: gray;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #f05f40;
  }
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
/*   background-image: url(https://www.investinreims.com/sites/default/files/news/logo_orange_pastille.png); 
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2rem;
}
header.masthead p {
  font-weight: 300;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.logo {
    width: 50px;
}
 */
/* debut de acceuil */

/* A retirer plus tard*/
 /* here */

.navbar 
{
  display: flex;
  width: 100%;
  min-height: 60px;
  background-color: transparent;
  position:fixed;
  top:0;
  left:0;
  padding:0;
  transition:1s;
  z-index:100;
}


.logo
{
  width: 4vh;
  /* margin-top: 40px; */
  margin-left: 3vw;
}

.iconcolor 
{
  color: #FBA858;
}

.navitemlogo
{
  flex:8;
  color:white;
}

.navbar li 
{
  list-style-type: none;
}

#demo {
  z-index: 10;
  color: black;
  font-size: 70px;
  font-weight: bold;
  display:block;
}

/* Dropdown */

.dropdownColor
{
  color: white;
  transition: 0.5s;
}

.dropdownColor a
{
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

a:hover{
  color: #FBA858;
}

.dropdownColor a:hover{
  color: #FBA858;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: -1px;
}


 .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.show > .dropdown-menu.fade {
  pointer-events: auto;
  opacity: 1;
}

/* 
@media (min-width: 768px) {
  .dropdown .dropdown-menu{
      display: block; 
    opacity:0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  }
  .dropdown:hover .dropdown-menu {
      display: block;
      opacity: 1;
  }
  } 
  */

  .dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 2000px;
    opacity: 1;
}