<!-- <div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Registered users ({{ users.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="4">There are no registered users.</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)" [disabled]="auth.currentUser.id === user.id">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
</div> -->
<app-navbar></app-navbar>
<div class="back">
  <h2 class="titleAdmin col-12">Bienvenue dans la partie administration</h2>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="student">Eleves</a>
          <button type="button" class="buttonSetting" routerLink="/student"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Projets </a>
          <button type="button" class="buttonSetting" routerLink="/addProjet"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="cities">Ecoles</a>
          <button type="button" class="buttonSetting" routerLink="/cities"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="recruts">Oeil du Recruteurs</a>
          <button type="button" class="buttonSetting" routerLink="/recruts"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>
  </div>
</div>