section{
  padding: 100px 0;
}

.title{
  margin-bottom: 5%;
}

.list1{
  margin-bottom: 5%;
}

.card{
  background-color: black !important;
  border:none #FBA858;
  border-radius: 5px;
}

@media (max-width: 767px){
  .cl {
    margin-bottom: 2%;
  }
}

.mr-5{
  font-weight: bold;
}

.float-left{
  font-weight: bold;
}

.cards{
  padding-bottom: 3%;
}

.card-body{
  background-color: #FBA858;
}

.fa-angle-right{
  color: #FBA858;
  font-size: 2vh;
  font-weight: bold;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -20px;
  right: -5px;
  font-size: 4rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}