<app-navbar></app-navbar>

<div class="container-fluid">
  <section id="services">
    <div class="container">
      <div class="row title">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Bienvenue dans la partie administration</h2>
        </div>
      </div>
      <!-- Icon Cards-->
      <div class="row list1 mx-auto" *ngIf="me && (me.admin == true || me.roles.length >= 1)">
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card1 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-users"></i>
              </div>
              <div class="mr-5">Gérer les éleves</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/student">
              <span class="float-left">View Details</span>
              <a routerLink="/student">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card2 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fab fa-angular"></i>
                <i class="fab fa-js-square"></i>
              </div>
              <div class="mr-5">Gérer les langages</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/langages">
              <span class="float-left">View Details</span>
              <a routerLink="/langages">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card3 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="far fa-folder"></i>
              </div>
              <div class="mr-5">Gérer les projets</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/newPost">
              <span class="float-left">View Details</span>
              <a routerLink="/newPost">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
      </div>
      <div class="row list2 mx-auto" *ngIf="me && (me.admin == true || me.roles.length >= 1)">
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card4 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-university"></i>
              </div>
              <div class="mr-5">Gérer les campus</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/cities">
              <span class="float-left">View Details</span>
              <a routerLink="/cities">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card5 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-eye"></i>
              </div>
              <div class="mr-5">Gérer l'oeil du recruteur</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/recruts">
              <span class="float-left">View Details</span>
              <a routerLink="/recruts">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 cards">
          <div class="card card6 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="mr-5">Gérer les sessions</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/sessions">
              <span class="float-left">View Details</span>
              <a routerLink="/sessions">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-sm-6 cards mx-auto" *ngIf="me && (me.admin == false)">
          <div class="card card3 text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="far fa-folder"></i>
              </div>
              <div class="mr-5">Gérer mes projets</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/newPost">
              <span class="float-left">View Details</span>
              <a routerLink="/newPost">
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

<!-- <div class="back">
  <h2 class="titleAdmin col-12">Bienvenue dans la partie administration</h2>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="student">Eleves</a>
          <button type="button" class="buttonSetting" routerLink="/student"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Projets </a>
          <button type="button" class="buttonSetting" routerLink="/newPost"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="cities">Ecoles</a>
          <button type="button" class="buttonSetting" routerLink="/cities"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="recruts">Oeil du Recruteurs</a>
          <button type="button" class="buttonSetting" routerLink="/recruts"><img class="imgSetting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Cog%2C_Web_Fundamentals.svg/120px-Cog%2C_Web_Fundamentals.svg.png" alt="A"></button>
        </li>
      </ol>
    </nav>
  </div>
</div> -->