.modal2 {
    margin-top: 17%;
    margin-left: -1%;
}

.topNavbar {
    margin-top: 100px;
}

.bottomNavbar {
    margin-bottom: 80px;
}

.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-primary {
    color: white;
    background-color: #FBA858;
    border-color: #FBA858;
}