

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 offset-md-1 col-12">
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Localisation">
    </div>
  </div>
  <div class="row">
      <div class="col-md-2 offset-md-1 col-12 button1">
          <button>  

          </button>
      </div>
      <div class="col-md-2 offset-md-1 col-12 button2">
          <button>  

          </button>
      </div>
  </div>
  




  <!-- Liste des développeurs et Maps -->

</div>
<app-footer></app-footer>