<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current cities ({{ cities.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cities.length === 0">
        <tr>
          <td colspan="4">There are no cities in the DB. Add a new city below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let city of cities">
          <td>{{ city.name }}</td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(city)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteCity(city)"><i class="fa fa-trash"></i> Delete</button>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCity(city)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="city.name" placeholder="Name" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new city</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCityForm" (ngSubmit)="addCity()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>