<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">

  <div class="row">
    <!-- Title -->
    <div class="col-12">
      <h2 class="titleAdmin mt-2 ml-2 col-12">Bienvenue dans la partie administration
        <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Retour</button>
      </h2>
      <h2 class="page" *ngIf="me && (me.admin == false)"> Veuillez quitter cette page, Merci</h2>
    </div>
  </div>
  <!-- Administration -->
  <div class="card" *ngIf="me && (me.admin == true)">
    <h4 class="card-header backgroundNav">Ajouter un campus</h4>
    <div class="card-body">
      <form [formGroup]="addCityForm" (ngSubmit)="addCity()">
        <div class="row">
          <div class="col-md-4 col-12">
            <input class="form-control name" type="text" name="name" formControlName="name" placeholder="Nom">
            <input class="form-control link" type="text" name="link" formControlName="link" placeholder="Lien">
            <input class="form-control id" type="number" name="locationId" formControlName="locationId" placeholder="Id">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" type="submit" [disabled]="!addCityForm.valid">
              <i class="fa fa-floppy-o"></i> Ajouter</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card mb-3" *ngIf="!isLoading">
      <h4 class="card-header backgroundNav">Campus ({{ cities.length }})</h4>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf="!isEditing">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom du campus</th>
                <th scope="col">Lien</th>
                <th scope="col">Id</th>
                <th scope="col">Modifier/Supprimer</th>
              </tr>
            </thead>
            <tbody *ngIf="cities.length === 0">
              <tr>
                <td colspan="4">Il n'y a pas de campus ajouter.</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let city of cities">
                <td>{{ city.city }}</td>
                <td>
                  <a href="{{ city.link }}" target="_blank">{{ city.name }}</a>
                </td>
                <td>{{ city.WCS_ID }}</td>
                <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(city)">
                  <i class="fa fa-pencil"></i> Modifier</button>
                <button class="btn btn-sm btn-danger mr-2" (click)="deleteCity(city)">
                  <i class="fa fa-trash"></i> Supprimer</button>
              </tr>
            </tbody>
            <!--<tbody *ngIf="isEditing">
          <tr>
            <td colspan="4">
              <form class="form-inline" #form="ngForm" (ngSubmit)="editCity(city)">
                <input class="form-control mr-2" type="text" name="link" [(ngModel)]="city.name" placeholder="Name" required>
                <input class="form-control mr-2" type="text" name="link" [(ngModel)]="city.link" placeholder="Link" required>
                <input class="form-control mr-2" type="number" name="locationId" [(ngModel)]="city.locationId" placeholder="Id" required>
                <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel</button>
              </form>
            </td>
          </tr>
        </tbody> -->
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isEditing">
      <h4 class="card-header backgroundNav">Modifier</h4>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="editCity(city)">
          <div class="row">
            <div class="col-md-4 col-12">
              <input class="form-control name" type="text" name="link" [(ngModel)]="city.name" placeholder="Nom" required>
              <input class="form-control link" type="text" name="link" [(ngModel)]="city.link" placeholder="Lien" required>
              <input class="form-control id" type="number" name="locationId" [(ngModel)]="city.locationId" placeholder="Id" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mx-auto">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Enregistrer</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Quitter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>