<div class="presentation">
  <h1 class="titlePresentation">Vous cherchez à recruter un développeur ?</h1>
  <div class="delimited">___________</div>
  <p class="pPresentation">Vous voulez recruter un développeur pour travailler sur votre
    <span>&nbsp;site web</span>,&nbsp; créer votre
    <span>&nbsp;produit</span>&nbsp; et accompagner votre
    <span>&nbsp;croissance</span>.
  </p>
  <p class="pPresentation"> Vous recherchez un développeur web stagiaire, un collaborateur pour votre équipe technique ou votre futur associé
    <br> dans la France entière ? Alors ne cherchez plus, vous êtes au bonne endroit.</p>
</div>

<div class="projet">
  <h1 class="dernierProjet">Nos dernier projets</h1>
  <div class="delimited">___________</div>
  <div class="postProjet">
    <a href="https://placeholder.com">
      <img src="http://via.placeholder.com/300x300">
    </a>
    <a href="https://placeholder.com">
      <img src="http://via.placeholder.com/300x300">
    </a>
    <a href="https://placeholder.com">
      <img src="http://via.placeholder.com/300x300">
    </a>
  </div>
  <button type="button" class="btn btn-lg">Voir plus de projets</button>
</div>