<app-navbar></app-navbar>

<!-- Bannière/Barre de recherche -->

<header class="masthead">
  <div class="container-fluid">
    <div class="intro-text">
      <div class="intro-lead-in">*Ville*
      </div>
      <div class="p-research">
        <p>
          Durant nos formations intenses, nos élèves réalisent des projets ainsi que des Hackathon
        </p>
        <p>
          Rechercher le Projet que vous voulez découvrir selon la session :
        </p>
      </div>
      <div class="col-lg-4 col-12 mx-auto">
        <h3>Sessions</h3>
        <select class="custom-select selectWidth" id="techno">
          <option selected>Select</option>
          <option value="1">Février 2018</option>
          <option value="2">Septembre 2017</option>
          <option value="3">Java</option>
          <option value="4">Js</option>
          <option value="5">!</option>
          <option value="6">?</option>
        </select>
      </div>

      <div class="col-lg-4 col-12 mx-auto">
        <h3>Projet</h3>
        <select class="custom-select selectWidth" id="poste">
          <option selected>Projet client</option>
          <option value="valeur1">Hackathon 1</option>
          <option value="valeur1">Hackathon 2</option>
        </select>
      </div>

      <div class="row mx-auto">
        <div class="col-12">
          <button class="btn btn-primary text-uppercase answerText buttonSearch">Chercher un Projet</button>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="projet-list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Nos Projets</h2>
        <hr>
      </div>
    </div>
    <div class="container">

      <div class="tz-gallery">

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="/projetFront">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="images/benches.jpg">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="images/bridge.jpg">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="images/rails.jpg">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="images/rocks.jpg">
                <img src="http://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/en_ete/paysage_montagnard.37032.jpg"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-color">
</div>
<div class="footer">
  <app-footer></app-footer>
</div>