<app-loading [condition]="isLoading">
</app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid" *ngIf="me">
  <div class="row">
    <div class="mx-auto">
      <h1>Profil</h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h2>Prénom Nom : {{ me.name }} </h2>
      <h2>Email : {{ me.email }}</h2>
      <h2>Github : {{ me.github }}</h2>
      <h2>Linkedin : {{ me.linkedin }}</h2>
      <h2>Lien Linkedin : {{ me.lienLinkedin }}</h2>
      <img class="imageUrl" src="{{ me.image }}" alt="Can't access">
      <h2>Palmarès : {{ me.palmares }}</h2>
      <h2>poste : {{ me.poste }}</h2>
    </div>
  </div>
</div>
<!-- name: String,
  lastname: String,
  email: String,
  github: String,
  linkedin: String,
  lienlinkedin: String,
  image: String, -->
<div class="row mt-2 mb-2">
  <div class="offset-4">
    <button (click)="showEdit()" *ngIf="!edit">Edit</button>
    <button (click)="hiddenEdit()" *ngIf="edit">Cancel</button>
  </div>
</div>

<div class="card" *ngIf="edit">
  <div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header backgroundNav">Eleves</h4>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Github</th>
            <th scope="col">image Url</th>
            <th scope="col">Lien Linkedin</th>
            <th scope="col">Linkedin</th>
            <th scope="col">Palmarès</th>
            <th scope="col">Poste</th>
            <th scope="col">Spécialités</th>
            <th scope="col">Modifier/Supprimer</th>
          </tr>
        </thead>
         <tbody *ngIf="me.length === 0">
              <tr>
                <td colspan="4">Il n'y a pas de projet ajouter.</td>
              </tr>
            </tbody> 
        <tbody *ngIf="me">
          <tr >
            <td >{{ me.email }} </td>
            <td> {{ me.github }}</td>
            <td>
              <img class="imageUrl" src="{{ me.image }}" alt="Can't access">
            </td>
            <td>
              <a href="{{ me.lienLinkedin }}" target="_blank">{{ me.lienLinkedin }}</a>
            </td>
            <td>{{ me.linkedin }}</td>
            <td>{{ me.palmares }}</td>
            <td>{{ me.poste }}</td>
            <td>{{ me.specialites }}</td>
            <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(me)">
              <i class="fa fa-pencil"></i> Modifier</button>
            <button class="btn btn-sm btn-danger mr-2" (click)="deleteStudent(me)">
              <i class="fa fa-trash"></i> Supprimer</button>
          </tr>
        </tbody>
        <tbody *ngIf="isEditing">
          <tr>
            <td colspan="4" *ngIf="me">
              <form class="form-inline" #form="ngForm" (ngSubmit)="editStudent(me)">
                  <input class="form-control mr-2" type="text" name="email" [(ngModel)]="me.email" placeholder="Email" required>
                <input class="form-control mr-2" type="text" name="github" [(ngModel)]="me.github" placeholder="Name Github" required>
                <input class="form-control mr-2" type="text" name="image" [(ngModel)]="me.image" placeholder="Url Image" required>
                <input class="form-control mr-2" type="text" name="lienLinkedin" [(ngModel)]="me.lienLinkedin" placeholder="lien linkedin">
                <input class="form-control mr-2" type="text" name="linkedin" [(ngModel)]="me.linkedin" placeholder="Linkedin Nom">
                <input class="form-control mr-2" type="text" name="palmares" [(ngModel)]="me.palmares" placeholder="Palmares">
                <input class="form-control mr-2" type="text" name="poste" [(ngModel)]="me.poste" placeholder="Poste">
                <input class="form-control mr-2" type="text" name="specialites" [(ngModel)]="me.specialites" placeholder="spécialités">

                <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>