<app-navbar></app-navbar>

<app-loading [condition]="isLoading">
</app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">
  <!-- Title -->
  <div class="row mt-2 mb-2 padding-nav">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Retour</button>
    </div>
  </div>

  <!-- Administration -->
  <div class="card">
    <h4 class="card-header backgroundNav">Ajouter un projet</h4>
    <div class="card-body">
      <form [formGroup]="addBlogProjetForm" (ngSubmit)="addBlogProjet()">
        <div class="row">
          <div class="col-md-6 col-12">
            <input class="form-control" type="text" name="name" formControlName="name" placeholder="Nom du Projet">
            <input class="form-control link" type="text" name="link" formControlName="link" placeholder="Lien">
            <div class="row col-12">
              <div class="col-12 col-md-7" *ngIf="!filename" class="textUpload">Veuillez cliquer sur télécharger pour ajouter une image</div>
              <div class="col-12 col-md-7" *ngIf="filename" class="textUpload">Image ajoutée avec succès</div>
              <app-upload class="col-12 col-md-5" [callback]="onFileUploaded"></app-upload>
            </div>
            <select class="custom-select selectWidth" id="session" [(ngModel)]="selectedStudent" (ngModelChange)="getStudentById()"
              [ngModelOptions]="{standalone: true}">
              <option  value="-1">Choisir un élève</option>
              <option *ngFor="let student of students" target="_blank" [ngValue]="student">{{ student.name }}</option>
            </select>
          </div>
          <div class="col-md-6 col-12 div">
            <textarea class="form-control" type="text" name="description" formControlName="description" placeholder="Description du Projet"
              rows="5"></textarea>
              <ul class="list-student-added" *ngFor="let eleves of arrayStudent">
                <li>{{ eleves.name }}</li>
              </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mx-auto">
            <button class="btn btn-primary add" type="submit" [disabled]="!addBlogProjetForm.valid">
              <i class="fa fa-floppy-o"></i> Ajouter</button>
          </div>
        </div>
  </form>
    <button class="btn btn-primary" (click)="addStudentToProject()">Ajouter un élève</button>
  </div>
  <div class="card" *ngIf="!isLoading">
    <div>
      <h4 class="card-header backgroundNav">Vous avez {{ blogProjets.length }} Projet<span *ngIf="blogProjets.length > 1">s</span>
      </h4>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf="!isEditing">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom du projet</th>
                <th scope="col">imageUrl</th>
                <th scope="col">Lien</th>
                <th scope="col">Description</th>
                <th scope="col">Modifier/Supprimer</th>
              </tr>
            </thead>
            <tbody *ngIf="blogProjets.length === 0">
              <tr>
                <td colspan="4">Il n'y a pas de projet ajouter.</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let blogProjet of blogProjets">
                <td>{{ blogProjet.name }}</td>
                <td>
                  <img class="imageUrl" src="api/file/{{ blogProjet.imageUrl }}" alt="Can't access">
                </td>
                <td>
                  <a href="{{ blogProjet.link }}" target="_blank">{{ blogProjet.link }}</a>
                </td>
                <td>{{ blogProjet.description }}</td>
                <button class="btn btn-sm btn-primary ml-2 mr-2 mt-2 mb-2" (click)="enableEditing(blogProjet)">
                  <i class="fa fa-pencil"></i> Modifier</button>
                <button class="btn btn-sm btn-danger ml-2 mr-2 mt-2 mb-2" (click)="deleteBlogProjet(blogProjet)">
                  <i class="fa fa-trash"></i> Supprimer</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isEditing">
      <h4 class="card-header backgroundNav">Modifier un projet</h4>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="editBlogProjet(blogProjet)">
          <div class="row">
            <div class="col-md-6 col-12">
              <input class="form-control" type="text" name="name" [(ngModel)]="blogProjet.name" placeholder="Name" required>
              <input class="form-control imageUrl" type="text" name="imageUrl" [(ngModel)]="blogProjet.imageUrl" placeholder="Url Image"
                required>
              <input class="form-control mr-2" type="text" name="link" [(ngModel)]="blogProjet.link" placeholder="Link" required>
            </div>
            <div class="col-md-6 col-12">
              <textarea class="form-control" type="text" name="description" [(ngModel)]="blogProjet.description" placeholder="description"
                rows="5"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mx-auto">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Enregistrer</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Quitter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>