<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h2 class="titleAdmin mt-2 ml-2 col-12">Bienvenue dans la partie administration
        <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Admin Home</button>
      </h2>
    </div>
  </div>

  <!-- Administration -->
  <div class="card">
    <div class="card mb-3" *ngIf="!isLoading">
      <h4 class="card-header backgroundNav">Langages ({{ langages.length }}) <span class="span-auto">Cette partie à été automatisée</span></h4>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf="!isEditing">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom du langage</th>
                <th scope="col">Id du langage</th>
                <th scope="col modif">Modifier/Supprimer</th>
              </tr>
            </thead>
            <tbody *ngIf="langages.length === 0">
              <tr>
                <td colspan="4">Il n'y a pas de langage ajouté.</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let langage of langages">
                <td>{{ langage.name }}</td>
                <td>{{ langage.WCS_ID }}</td>
                <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(langage)">
                  <i class="fa fa-pencil"></i> Modifier</button>
                <button class="btn btn-sm btn-danger mr-2" (click)="deleteLangage(langage)">
                  <i class="fa fa-trash"></i> Supprimer</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isEditing">
      <h4 class="card-header backgroundNav">Modifier un langage</h4>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="editLangage(langage)">
          <div class="row">
            <div class="col-md-4 col-12">
              <input class="form-control name" type="text" name="name" [(ngModel)]="langage.name" placeholder="Name" required>
              <input class="form-control id" type="text" name="WCS_ID" [(ngModel)]="langage.WCS_ID" placeholder="Id" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mx-auto">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Enregistrer</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Quitter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>