<!-- Image + titre -->
<div class="accueil">
  <img class="imgAccueil" src="./assets/image_home.jpg" alt="image_accueil">
  <h2 class="titreWilder">Rechercher un développeur</h2>
</div>

<!-- Les select et input  -->
<div class="selectInput">
  <div class="tehnologie">
    <h3>Technologie </h3>
    <div class="custom-select" style="width:200px;">
      <select id="techno">
        <option value="0">PHP</option>
        <option value="1" selected>Js</option>
        <option value="3">Angular</option>
        <option value="4">NodeJS</option>
        <option value="5">Symphony</option>
      </select>
    </div>
  </div>

  <div class="posteActuel">
    <h3>Poste Actuel</h3>
    <select id="poste">
      <option value="valeur1">Stage/Formation</option>
      <option value="valeur1">Développeur Confirmé</option>
    </select>
  </div>

  <div class="region">
    <h3>Zone géographique</h3>
    <form>
      <input type="text" name="firstname" placeholder="region">
    </form>
  </div>

</div>