<app-navbar></app-navbar>

<div class="container-fluid" *ngIf="student">
    <div class="row justify-content-start profil">
        <div class="col-md-3 col-sm-12 mx-auto photo">
            <img class="rounded-circle" src="https://github.com/{{ student.github }}.png" onerror="this.onerror=404;this.src='../../assets/homme-avatar-profil-image-vecteur-eps_csp21321880.jpg';">
        </div>
        <div class="col-md-8 col-sm-12 mx-auto">
            <div class="nameDev">
                <h1>{{ student.name }}</h1>
                <h2 class="poste">{{ student.poste }}</h2>
            </div>
            <div class="specialities">
                <div class="row speciality">
                    <div class="col-sm-12">
                        <h3>Mes spécialités :</h3>
                    </div>
                </div>
                <ul class="list-inline keywords">
                    <li class="list-inline-item keyword">{{ student.langageName }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col-md-3 col-sm-12 mx-auto">
            <div class="contact">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item linksocial">
                                <a href="{{ student.lienLinkedin }}" target="blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item linksocial">
                                <a href="https://github.com/{{ student.github }}" target="blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row list-inline">
                    <div class="col-12">

                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            <li class="list-inline-item linksocial mail">{{ student.email }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-inline social-buttons" *ngIf="student.phone !== undefined">
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                            <li class="list-inline-item linksocial phone">{{ student.phone }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 mx-auto">
            <div class="projets" id="portfolio">
                <div class="row">
                    <div class="col-sm-12 titleprojects">
                        <h3>Mes projets :</h3>
                    </div>
                </div>
                <div class="row projects">
                    <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let blogProjet of blogProjets">
                        <a class="portfolio-link" [routerLink]="['/projetFront', blogProjet._id]" target="blank">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-chevron-down fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="api/file/{{ blogProjet.imageUrl }}" alt="projet">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer *ngIf="student"></app-footer>