.container-fluid {
  margin-top: 16vh;
}

.profil{
  margin-bottom: 4%;
}

  img {
    width: 100px;
    height: 100px;
    border: 7px solid #fff;
  }

  .specialities{
    border: solid black;
  }

  .contact{
    border: solid black;
    margin-bottom: 4%;
    text-align: center;
  }

  .palmares{
    border: solid black;
  }

  .projets{
    border: solid black;
  }

