<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<!-- Title -->
<h2 class="titleAdmin mt-2 ml-2 col-12">Bienvenue dans la partie administration <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Admin Home</button></h2>    

    
<!-- Administration -->
<div class="card">
  <!-- <h4 class="card-header backgroundNav">Ajouter un élève</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Prénom">
      <input class="form-control mr-2" type="number" name="age" formControlName="age" placeholder="Age">
      <button class="btn btn-primary" type="submit" [disabled]="!addStudentForm.valid">
        <i class="fa fa-floppy-o"></i> Ajouter</button>
    </form>
  </div> -->

  <div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header backgroundNav">Elèves ({{ students.length }})</h4>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Github</th>
            <th scope="col">Promotion</th>
            <th scope="col">Framework</th>
            <th scope="col">Admin</th>
            <th scope="col">Modifier/Supprimer</th>
            <th scope="col">Profile</th>            
          </tr>
        </thead>
        <tbody *ngIf="students.length === 0">
          <tr>
            <td colspan="4">Il n'y a pas d'eleves ajouter.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditing && students">
          <tr *ngFor="let member of members">
            <td>{{ member.firstname }}</td>
            <td >{{ member.lastname }}</td>
            <td >{{ member.email }}</td>
            <td >{{ member.github }}</td>
           <!--  <td >{{ student.crew.name }}</td>
            <td >{{ student.crew.program_type.name }}</td> -->
            <td ><span *ngIf="student.admin == true">Oui</span> <span *ngIf="student.admin == false">Non</span></td>
            <td>
            <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(student)">
              <i class="fa fa-pencil"></i> Modifier</button>
            <button class="btn btn-sm btn-danger mr-2" (click)="deleteStudent(student)">
              <i class="fa fa-trash"></i> Supprimer</button>
              </td>
            <td ><button class="btn btn-sm btn-primary" [routerLink]="['/student-eleve', student._id]">Profile</button></td>              
          </tr>
        </tbody>
        <tbody *ngIf="isEditing && students">
          <tr>
            <td colspan="4">
              <form class="form-inline" #form="ngForm" (ngSubmit)="editStudent(student)">
                <input class="form-control mr-2" type="text" name="name" [(ngModel)]="student.name" placeholder="Name" required>
                <input class="form-control mr-2" type="text" name="lastname" [(ngModel)]="student.lastname" placeholder="lastname" required>
                <input class="form-control mr-2" type="text" name="email" [(ngModel)]="student.email" placeholder="email" required>
                <input class="form-control mr-2" type="text" name="github" [(ngModel)]="student.github" placeholder="github" required>                              
                <input class="form-control mr-2" type="text" name="crew" [(ngModel)]="student.crew.name" placeholder="crew" required>                              
                <input class="form-control mr-2" type="text" name="framework" [(ngModel)]="student.crew.program_type.name" placeholder="framework" required>
                <button (click)="isAdmin()">Oui</button> <button (click)="isNotAdmin()">Non</button>
                <div *ngIf="student.admin == true">Admin : oui</div> <div *ngIf="student.admin == false">Admin : non</div>                              
                <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 <!--  <div *ngFor="let member of members">
    {{ member.fullname }}
  </div> -->
</div>