<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row projetHeader">
    <!-- Image du projet -->
    <div class="col-md-6" *ngIf='blogProjet'>
      <figure>
        <img alt="Project img" src="api/file/{{ blogProjet.imageUrl }}" class="imgProjet" />
        <a class="btn btn-primary btn-xs answerText mx-auto" href="{{ blogProjet.link }}" target="blank">Accéder au projet</a>
        <!-- Button partager / désactiver -->
        <!-- <figcaption id="share">
          <div class="button mx-auto">
            <div class="front">
              <p>Partager
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </p>
            </div>
            <div class="links">
              <a href="#">
                <i class="fab fa-facebook-f fa-fw"></i>
              </a>
              <a href="https://twitter.com/home?status=This%20project%20is%20awesome!%20Check%20it%20out:api/file/{{ blogProjet.imageUrl }}">
                <i class="fab fa-twitter fa-fw"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram fa-fw"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in fa-fw"></i>
              </a>
            </div>
          </div> 
          Facebook 
           <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
          </a> 
        </figcaption> -->
      </figure>
    </div>
    <!-- Description Projet et Liste des élèves -->
    <div class="col-md-6 description" *ngIf='blogProjet'>
      <h3 class="paragraphe nameProject">{{ blogProjet.name }}</h3>
      <p class="paragraphe descriptionProject">{{ blogProjet.description }}</p>
      <ul>
        <!-- Creator of projet -->
        <li class="list-item">
          <a target="_blank" [routerLink]="['/student-eleve', blogProjet.studentId]">
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>{{ blogProjet.studentName }}</a>
                    <!-- Photo créateur projet presente à coté du nom -->
            <!-- <img class="img-profil" src="https://github.com/{{ blogProjet.github }}.png" onerror="this.onerror=404;this.src='../../assets/homme-avatar-profil-image-vecteur-eps_csp21321880.jpg';" alt="zzz"> -->
        </li>
        <!-- Student who participate for the projet -->
        <li class="list-item" *ngFor="let eleve of blogProjet.eleves">
          <a target="_blank" [routerLink]="['/student-eleve', eleve._id]">
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>{{ eleve.name }}</a>
            <!-- Photo élève presente à coté du nom -->
            <!-- <img class="img-profil" src="https://github.com/{{ eleve.github }}.png" onerror="this.onerror=404;this.src='../../assets/homme-avatar-profil-image-vecteur-eps_csp21321880.jpg';" alt="zzz"> -->
        </li>
      </ul>
    </div>
  </div>
  <!--  <div class="row linktext">
    <div class="mx-auto">
    </div>
  </div> -->

  <!--  <section class="linkfoot">
    <div class="row linktext">
      <div class="mx-auto">
        <h3 class="h3Projet">
          Vous pouvez retrouver le lien du projet ci-dessous :
        </h3>
      </div>
    </div>
    <div class="row linkButton">
      <div class="mx-auto">
        <div class="project_button" *ngIf='blogProjet'>
          <a class="btn btn-primary btn-lg answerText" href="{{ blogProjet.link }}" target="blank">Projet</a>
        </div>
      </div>
    </div>
  </section> -->

</div>

<app-footer *ngIf="blogProjet"></app-footer>