<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"/>
    </div>
    
    <!-- Liste éleves -->
    <div class="col-md-6">
      <p>Présentation du projet</p>
      <hr/>
      <ul>
        <li class="list-item">
          <a>
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i> Bastien Escroc</a>
        </li>
        <li class="list-item">
          <a>
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i> Alexander</a>
        </li>
        <li class="list-item">
          <a>
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i> Antoine</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <a href="#" class="btn btn-secondary" type="button">Partager</a>
    </div>
  </div>

  <div class="row linkFoot">
    <div class="offset-md-4 col-md-6">
      <h3 class="h3Projet">
        Vous pouvez retrouver le lien du projet ci dessous
      </h3>
    </div>
  </div>
  <div class="row linkButton">
    <div class="offset-md-5 col-md-7 offset-lg-5 col-lg-5">
      <div class="project_button">
        <a class="btn btn-primary btn-lg answerText" href="">Lien du Projet</a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>