.container-fluid {
    margin-top: 10vh;
  }
  
  .linkFoot {
    min-height: 15vh;
  }
  
  .linkButton {
    background-color: white;
  }
  
  .h3Projet {
    color: black;
    padding-top: 5%;
  }
  
  .list-item {
    list-style: none;
  }
  
  .project_button {
    margin-bottom: 10vh;
  }
  
  .paragraphe {
    margin-top: 4vh;
  }
  
  hr {
    background-color: #1fa597;
  }
  
  i {
    color: #fba858;
  }
  
  .projetHeader {
    background-color: #ced4da;
  }
  .imgProjet {
    width: 65%;
    height: 65%;
    margin-left: 15vh;
    margin-top: 7vh;
  }
  
  /* Small devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .imgProjet {
      width: 65%;
      height: 65%;
      margin-left: 6vh;
      margin-top: 5vh;
    }
    
  }
  
  @media (max-width: 992px) {
    .imgProjet {
      width: 65%;
      height: 65%;
      margin-left: 8vh;
      margin-top: 5vh;
    }
    
  }
  