<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <!-- Title -->
      <h2 class="titleAdmin mt-2 ml-2 col-12">Bienvenue dans la partie administration
        <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Admin Home</button>
      </h2>
      <h2 class="page" *ngIf="me && (me.admin == false)"> Veuillez quitter cette page, Merci</h2>
    </div>
  </div>
  <!-- Administration -->
  <div class="card" *ngIf="me && (me.admin == true)">
    <h4 class="card-header backgroundNav">Ajouter un commentaire  <span class="span-auto">Veuillez ne pas laissez un commentaire trop volumineux</span></h4>
    <div class="card-body">
      <form [formGroup]="addRecrutForm" (ngSubmit)="addRecrut()">
        <div class="row">
          <div class="col-md-6 col-12">
            <input class="form-control author" type="text" name="authname" formControlName="authname" placeholder="Auteur">
            <textarea class="form-control comment" type="text" name="commentaire" placeholder="Commentaire" rows="8"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" type="submit" [disabled]="!addRecrutForm.valid">
              <i class="fa fa-floppy-o"></i> Ajouter</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card mb-3" *ngIf="!isLoading">
      <h4 class="card-header backgroundNav">Commentaires ({{ recruts.length }})</h4>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf="!isEditing">
            <thead class="thead-light">
              <tr>
                <th scope="col">Commentaire</th>
                <th scope="col">Auteur</th>
                <th scope="col">Modifier/Supprimer</th>
              </tr>
            </thead>
            <tbody *ngIf="recruts.length === 0">
              <tr>
                <td colspan="4">Il n'y a pas de commentaire ajouté.</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let recrut of recruts">
                <td>{{ recrut.description }}</td>
                <td>
                  <p>{{ recrut.authname }}</p>
                </td>
                <td>
                  <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(recrut)">
                    <i class="fa fa-pencil"></i> Modifier</button>
                  <button class="btn btn-sm btn-danger mr-2" (click)="deleteRecrut(recrut)">
                    <i class="fa fa-trash"></i> Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isEditing">
      <h4 class="card-header backgroundNav">Modifier un commentaire</h4>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="editRecrut(recrut)">
          <div class="row">
            <div class="col-md-6 col-12">
              <input class="form-control author" type="text" name="authname" [(ngModel)]="recrut.authname" placeholder="Auteur" required>
              <textarea class="form-control comment" type="textarea" name="description" [(ngModel)]="recrut.description" placeholder="Commentaire"
                required rows="8"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Enregistrer</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Quitter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>