<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<!-- Title -->
<h2 class="titleAdmin mt-2 ml-2 col-12">Bienvenue dans la partie administration <button type="button" class="btn btn-primary btn-rounded" routerLink="/admin">Admin Home</button></h2>    
<h2 *ngIf="me.admin === false || me.roles.length <= 0"> Veuillez quitter cette page, Merci</h2>
    
<!-- Administration -->
<div class="card" *ngIf="me.admin == true || me.roles.length >= 1">
  <h4 class="card-header backgroundNav">Ajouter un description</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addRecrutForm" (ngSubmit)="addRecrut()">
      <input class="form-control mr-2" type="text" name="authname" formControlName="authname" placeholder="Auteur">
      <input class="form-control mr-2" type="textarea" name="description" formControlName="description" placeholder="Description">
      <button class="btn btn-primary" type="submit" [disabled]="!addRecrutForm.valid">
        <i class="fa fa-floppy-o"></i> Ajouter</button>
    </form>
  </div>
  <div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header backgroundNav">Commentaire ({{ recruts.length }})</h4>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom de la description</th>
            <th scope="col">Auteur</th>
            <th scope="col">Modifier/Supprimer</th>
          </tr>
        </thead>
        <tbody *ngIf="recruts.length === 0">
          <tr>
            <td colspan="4">Il n'y a pas de description ajouter.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
          <tr *ngFor="let recrut of recruts">
            <td>{{ recrut.description }}</td>
            <td>
              <p>{{ recrut.authname }}</p>
            </td>
            <button class="btn btn-sm btn-primary ml-2 mr-2" (click)="enableEditing(recrut)">
              <i class="fa fa-pencil"></i> Modifier</button>
            <button class="btn btn-sm btn-danger mr-2" (click)="deleteRecrut(recrut)">
              <i class="fa fa-trash"></i> Supprimer</button>
          </tr>
        </tbody>
        <tbody *ngIf="isEditing">
          <tr>
            <td colspan="4">
              <form class="form-inline" #form="ngForm" (ngSubmit)="editRecrut(recrut)">
                <input class="form-control mr-2" type="text" name="authname" [(ngModel)]="recrut.authname" placeholder="Auteur" required>
                <input class="form-control mr-2" type="textarea" name="description" [(ngModel)]="recrut.description" placeholder="Description" required>
                <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>