<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Lien</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Nos Wilders</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Nos Projets</a>
          </li>
          <li>
            <a href="https://wildcodeschool.fr/recruter-un-developpeur/">
              <i class="fa fa-angle-double-right"></i>Entreprises</a>
          </li>
          <li>
            <a href="admin">
              <i class="fa fa-angle-double-right"></i>Contact</a>
          </li>
          <!-- <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Videos</a>
          </li> -->
        </ul>
      </div>
      <!-- <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Videos</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="https://wwwe.sunlimetech.com" title="Design and developed by">
              <i class="fa fa-angle-double-right"></i>Imprint</a>
          </li>
        </ul>
      </div>
    </div> -->


      <!-- Wild coté droit -->
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h4 class="titreWild">Wild Code School</h4>
        <ul class="list-unstyled quick-links">
          <li>
            <p>Adresse Mail</p>
          </li>
          <li>
            <p>Teléphone</p>
          </li>
        </ul>
      </div>

      <div class="row miniLogo">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ./Footer -->